h1{
    color: #256b79;
}
img:not(#barra){
    width: 111px;
    height: 111px;
}
.imagens{
    display: flex;
    gap: 200px;
}
.centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TextoImagens{
    text-align: center;
    display: flex;
    gap: 70px;
}
h4{
    text-align: left;
    padding-left: 75px;
    font-weight: normal;
}
p{
    font-size: 125%;
    text-align: justify;
    padding-left: 75px;
    padding-right: 75px;
}
.pdfimages{
    display: flex;
    gap: 300px;
    justify-content: center;
}
figcaption{
    text-align: center;
    color: #00c1d0;
}
a{
    text-decoration: none;
    color: #00c1d0;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
