h1{
    color: #256b79;
}
img:not(#barra){
    width: 111px;
    height: 111px;
}
.imagens{
    display: flex;
    gap: 200px;
}
.centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
}


